@import './../../utils/global-style/reset.scss';
@import './../../utils/global-style/global.scss';
@import'./../../utils/global-style/base.scss';

.tag{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:$colorLightFirst;
    transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
    transition-duration: 600ms; 
    font-weight: 300;
    padding-bottom: 12px;
    cursor: pointer;

    @media (max-width: 1100px) {
        font-size: 1.1rem;
    }

    @media (max-width: 600px) {
        font-size: 1rem;
        text-transform: initial;
    }

    &__darkmode{
        color:$colorDarkFirst;
    }

    

    //ANIMATION SUR LE AFTER
    &:focus,&:hover {
        scale: (1.2);
        transform: translateY(-8px); 
        transition: transform 0.8s ease;
        text-shadow: $shadowsText,               
    }

    &:active {
        scale: (0.9);
    }

    &:focus:after,&:hover:after {
        width: 100%;
        left: 0%;
    }

    &:after {
        content: "";
        bottom: 0px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $colorLightSecond;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 900ms;
    }
}

.tag__darkmode:after {
    height: 1px;
    background-color: $colorDarkSecond;
    
}