@import './../../utils/global-style/reset.scss';
@import './../../utils/global-style/global.scss';
@import'./../../utils/global-style/base.scss';

.error-page{
    height: auto;
    margin-bottom: 250px;
    color: $colorLightFirst;

    &__box{
        width:95%;
        margin: auto;
        height: 100%;  
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        padding: 5px;  

        @media (max-width: 1100px) {
            flex-direction: column;
        }

        @media (max-width: 550px) {
            margin-top: 150px;
        }

        .illustration{
            width: 60%; 
            
            @media (max-width: 850px) {
                width: 500px;
            }

            @media (max-width: 550px) {
                width: 280px;
            }
        }

        .error-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:70px;
            padding: 15px;

            & h1{
                font-size: 8rem;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: $shadowsMain;

                @media (max-width: 550px) {
                    font-size: 4.5rem;
                }
            }

            & p {
                font-size: 3rem;
                text-shadow: $shadowsMain;
                text-align: center;

                @media (max-width: 550px) {
                    font-size: 2rem;
                }
            }

            .error-backlink{
                font-family: $typoDetails;
                font-size: 2rem;
                display: flex;
                gap :15px;
                border: 3px solid $colorLightFirst;
                padding: 15px 25px;
                border-radius: 45px;
                box-shadow: $shadowsFloat;

                &:focus,
                &:hover {
                    scale: (1.1);
                    transform: translateY(-20px); 
                    transition: transform 0.8s ease; 
                    background-color: rgba(179, 179, 179, 0.089);         
                }
    
                &__button:active {
                    scale :(0.8);
                    background-color: rgba(43, 43, 43, 0.089); 
                }
            }
        }

    }
}
