@import './../../utils/global-style/reset.scss';
@import './../../utils/global-style/global.scss';
@import'./../../utils/global-style/base.scss';

.error-page{
    height: 1000px;
    margin-bottom: 150px;

    &__illustration{
        width: 45%; 
    }

    &__box{
        width: 100%;
        height: 75%;  
        position: absolute;
        bottom: 0px;  
    }
}
