//-------------------------------GLOBAL STYLE----------------------------------// 

//TYPO =>
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Sulphur+Point:wght@300;400;700&display=swap');

$typoLogo: "Philosopher", sans-serif;
$typoMain :"Dosis",sans-serif;
$typoTitle: "Sulphur Point", sans-serif;
$typoDetails :"Lobster Two", sans-serif;

//COLOR LIGHT =>
$colorLightFirst :#02a7b3;
$colorLightSecond :rgb(116 204 204);
$colorLightDetails:#b103b1;

//COLOR NEUTRE =>
$colorNeutral:rgba(228, 228, 228, 0.295);
$colorTextLight :rgba(36, 36, 36, 0.541);
$colorTextDark :#c9c9c9;
$colorDark :rgba(0, 0, 0, 0.932);
$colorLight :rgba(255, 255, 255, 0.842);


//COLOR DARK =>
$colorDarkFirst : #cf8e00;
$colorDarkSecond :#f87102;

//GRADIENT =>
$gradientLight :radial-gradient(circle, rgba(255, 255, 255, 0.87) 0%,rgba(54, 54, 54, 0.123) 49%, rgba(95, 95, 95, 0.075) 75%, rgba(53, 53, 53, 0.089) 100%);
$gradientDark :  radial-gradient(circle, rgb(56, 56, 56) 0%, rgb(36, 36, 36) 25%, rgb(0, 0, 0) 49%, rgb(0, 0, 0) 75%, rgba(24, 24, 24, 0.678) 100%);

//BOX SHADOWS =>
$shadowsMain : rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$shadowsFloat : rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$shadowsBig : rgba(0, 0, 0, 0.418) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.411) 0px 0.125em 0.8em, rgba(255, 255, 255, 0.267) 0px 0px 0px 1px inset;
$shadowsText :1px 2px 2px rgba(0, 0, 0, 0.445);
$shadowsTextBig:2px 4px 4px rgba(0, 0, 0, 0.692);
$shadowsTextLight :2px 3px 3px rgba(0, 0, 0, 0.199);
$shadowsInset :inset 5px 5px 5px 5px rgba(0, 0, 0, 0.521);  

// rgb(166, 170, 173) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.171) -3px -3px 6px 1px inset